.header {
    position: absolute;
}

.sbar-header {
    position: sticky;
    top: calc(var(--header-height) * -1);
    width: 100%;
    background-image: url("../../../img/home/first_block_background_image.webp");
    background-size: cover;
    background-position: center;
    padding: 0 var(--custom-container-px) 2rem
        var(--custom-container-px);
    align-items: flex-end;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5.2rem;
    overflow-x: visible;
    z-index: 2;
}

.sbar-header__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(31, 111, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.sbar-header__search-bar {
    z-index: 2;
    flex: 1;
    margin-top:-2rem;
}

.sbar-header__advance-button {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 8rem;
    flex-shrink: 0;
    margin-top:7px;
}

.sbar-header__advance-title {
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: var(--fw-semibold);
    font-size: 1.2rem;
    margin-bottom: 0;
}

.sbar-header__advance-icon {
    height: 4.8rem;
}

.sbar-header .search-bar {
    width: 100%;
}
