:root {
    --wrapper-padding-top: 7.6rem;
    --wrapper-gap: 2rem;
    --inner-conversation-height: calc(100dvh - var(--header-height));
    --inner-padding-y: 2.4rem;
    --left-column-width: 36rem;
    --left-column-pr: 3.2rem;
    --left-column-gap: 3.2rem;
    --button-new-fsize: 2rem;
    --button-new-px: 7.6rem;
    --left-button-py: 1.2rem;
    --input-container-height: 15.2rem;
    --conversation-padding-top: 3.5rem;
    --conversation-padding: 2.2rem;
    --conversation-container-gap: 1.5rem;
    --conversation-gap: 2.8rem;
    --conversation-font-size: 2rem;
    --input-container-padding: 2.4rem;
    --input-actions-gap: 1.2rem;
    --input-action-padding: 1.2rem;
    --bot-avatar-size: 6.6rem;
    --bot-message-gap: 5.6rem;
    --message-wrapper-gap: 2rem;
    --message-actions-gap: 0.8rem;
    --message-action-size: 2rem;
    --my-message-padding: 1.6rem;
    --my-message-gap: 2rem;
    --model-container-height: 7rem;
    --model-container-py: 2rem;
}

.header {
    position: relative !important;
    background-image: url(../../../img/home/first_block_background_image.webp);
    background-size: cover;
}

.footer {
    display: none;
}

.header__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: var(--header-height);
    background-position: center;
    background-color: rgba(31, 111, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(0.6rem); /* safari */
}

.header__left,
.header__btnLogin {
    z-index: 1;
}

.chatbot__wrapper {
    position: relative;
    width: 100%;
    background-image: url("../../../img/home/first_block_background_image.webp");
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.chatbot__wrapper
    *:not(.fa-classic):not(.fa-regular):not(.fa-solid):not(.far):not(.fas):not(
        .fa
    ) {
    font-family: "SVN-Gilroy", sans-serif !important;
}

.chatbot__wrapper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 111, 255, 0.7);
    backdrop-filter: blur(0.6rem);
    -webkit-backdrop-filter: blur(0.6rem);
    z-index: 1;
}

.chatbot__inner {
    display: flex;
    position: relative;
    width: 100%;
    height: var(--inner-conversation-height);
    background-color: #f9fbff;
    z-index: 2;
}

.chatbot__left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: var(--left-column-pr);
    width: calc(var(--left-column-width) + var(--custom-container-px));
    gap: var(--left-column-gap);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: var(--inner-padding-y);
    padding-bottom: var(--inner-padding-y);
    padding-left: var(--custom-container-px);
    z-index: 1;
    position: relative;
}

.chatbot__left-column a {
    text-decoration: none;
    cursor: pointer;
}

.chatbot__left-column-button {
    font-weight: var(--fw-bold);
    display: flex;
    gap: 1rem;
    font-size: var(--button-new-fsize);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-shrink: 0;
}

.chatbot__new-conversation-button,
.chatbot__change-conversation-theme {
    color: #5d5e65;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 1.2rem;
    padding: var(--left-button-py) var(--button-new-px);
    line-height: 159%;
    transition-duration: 300ms;
    -webkit-user-select: none;
}

.chatbot__new-conversation-button svg {
    width: 1.4rem;
    height: auto;
    aspect-ratio: 1 / 1;
}

.chatbot__change-conversation-theme svg {
    width: 2.35rem;
    height: auto;
    aspect-ratio: 1 / 1;
}

.chatbot__new-conversation-button:hover,
.chatbot__change-conversation-theme:hover {
    opacity: 0.7;
}

.chatbot__list-conversation-buttons {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.chatbot__list-conversation-buttons a {
    width: 100%;
    display: inline-block;
    align-items: center;
    padding: var(--left-button-py) 1.2rem;
    color: #33475b;
    font-weight: var(--fw-medium);
    border-radius: 1.2rem;
    line-height: calc(16px * 1.5);
    letter-spacing: -0.011rem;
    transition-duration: 300ms;
}

.chatbot__list-conversation-buttons a:hover {
    background-color: #e7e7e7;
}

.chatbot__list-conversation-buttons a.active {
    background-color: #eff0f4;
}

.chatbot__right-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #f6f8ff;
}

.chatbot__model-container {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: var(--model-container-height);
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding-left: var(--conversation-padding);
}

.chatbot__model-label {
    text-decoration: none;
    font-weight: var(--fw-bold);
    display: flex;
    gap: 1.8rem;
    font-size: var(--button-new-fsize);
    color: #5d5e65;
    align-items: center;
    padding-left: var(--conversation-padding);
    padding-top: var(--model-container-py);
    padding-bottom: var(--model-container-py);
    cursor: pointer;
    transition-duration: 300ms;
}

.chatbot__model-label:hover {
    opacity: 0.7;
}

.chatbot__model-label svg {
    width: 0.8rem;
    height: 1.2rem;
}

.chatbot__model-switch {
    width: auto;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #f3f4f6;
    border-radius: 8px;
    width: fit-content;
}

.chatbot__model-switch button {
    flex: 1;
    white-space: nowrap;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: var(--conversation-font-size);
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.chatbot__model-switch button.active {
    background: var(--primary-color);
    color: white;
}

.chatbot__conversation-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(
        var(--inner-conversation-height) - var(--model-container-height)
    );
    background-color: #ffffff;
    /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); */
    padding-left: var(--conversation-padding);
    padding-bottom: var(--conversation-padding);
}

.chatbot__conversation {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--conversation-gap);
    padding-top: var(--conversation-padding-top);
    padding-bottom: var(--conversation-padding);
    padding-right: var(--custom-container-px);
}

.chatbot__input-container {
    border-radius: 1.2rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    padding: var(--input-container-padding);
    font-weight: var(--fw-medium);
    margin-right: var(--custom-container-px);
}

.chatbot__input-container input {
    margin-bottom: 4rem;
}

.chatbot__input-container input,
.chatbot__input-container--mobile input {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    font-size: var(--conversation-font-size);
    resize: none;
}

.chatbot__input-container--mobile {
    display: none;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding-right: var(--conversation-padding);
}

.chatbot__input-container--mobile a.link {
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot__input-container--mobile a.link svg {
    width: 30px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.chatbot__mobile-container-input-actions {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #dddddd;
    border-radius: 37px;
    padding: 12px 8px 12px 12px;
    height: 48px;
    gap: 12px;
}

.chatbot__mobile-container-input-actions a {
    border-radius: 100%;
}

.chatbot__mobile-container-input-actions .chatbot__action.send {
    display: none;
}

.chatbot__input-container input::placeholder {
    color: rgba(51, 71, 91, 0.5);
}

.chatbot__input-actions-container {
    display: flex;
    align-items: center;
    gap: var(--input-actions-gap);
}

.chatbot__action {
    border: 1px solid #dddddd;
    border-radius: 1.2rem;
    padding: var(--input-action-padding);
    cursor: pointer;
    transition-duration: 300ms;
}

.chatbot__action:hover {
    opacity: 0.7;
}

.chatbot__action.voice {
    background-color: var(--primary-color);
}

.chatbot__action.send {
    margin-left: auto;
    background-color: var(--highlight-color);
    border-radius: 100%;
}

.chatbot__action.send:hover {
    background-color: var(--secondary-highlight-color);
}

.chatbot__action.send.disabled {
    background-color: var(--secondary-highlight-color);
    pointer-events: none;
}

.chatbot__bot-message-container,
.chatbot__my-message-container {
    max-width: 100%;
    display: flex;
}

.chatbot__bot-message-container {
    align-self: flex-start;
    gap: var(--bot-message-gap);
}

.chatbot__bot-message-container p {
    color: #545454;
}

.chatbot__bot-avatar {
    border-radius: 100%;
    background-color: var(--primary-color);
    width: var(--bot-avatar-size);
    height: var(--bot-avatar-size);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.chatbot__bot-avatar svg,
.chatbot__bot-avatar img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.chatbot__message-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--message-wrapper-gap);
}

.chatbot__message-wrapper.typing {
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.chatbot__doc-list {
    list-style: none;
    margin: 0.5rem 0 0;
    padding-left: 1rem;
}

.chatbot__doc-list li {
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-size: var(--conversation-font-size);
    position: relative;
}

.chatbot__doc-list li a {
    cursor: pointer;
    transition-duration: 300ms;
    text-decoration: none;
    color: var(--secondary-color);
}

.chatbot__doc-list li a:hover {
    opacity: 0.7;
}

.chatbot__doc-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    font-weight: bold;
}

.chatbot__doc-summary {
    margin-top: 0.5rem;
    font-style: italic;
}

.chatbot__sentence-token {
    line-height: 159%;
    font-weight: var(--fw-medium);
    font-size: var(--conversation-font-size);
    margin-bottom: 0;
}

.chatbot__sentence-token.bib-type {
    color: #6b7280;
}

.chatbot__message-wrapper-actions {
    display: flex;
    align-items: center;
    gap: var(--message-wrapper-gap);
}

.chatbot__message-wrapper-actions a {
    cursor: pointer;
    transition-duration: 300ms;
}

.chatbot__message-wrapper-actions a:hover {
    opacity: 0.7;
}

.chatbot__message-action svg,
.chatbot__message-action img {
    width: var(--message-action-size);
    height: auto;
}

.chatbot__my-message-container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: var(--my-message-gap);
}

.chatbot__my-message-container p {
    color: #33475b;
}

.chatbot__my-message-container .chatbot__message-wrapper {
    border-radius: 1.2rem;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 2.3px 0 rgba(0, 0, 0, 0.13);
    padding: var(--my-message-padding);
    border-right: 0.6rem solid var(--secondary-highlight-color);
}

.chatbot__my-message-container .chatbot__message-wrapper-actions {
    align-self: flex-end;
}

.chatbot__show-more-result {
    text-decoration: none;
    transition-duration: 300ms;
    cursor: pointer;
    color: var(--primary-color);
    align-self: flex-start;
}

.chatbot__show-more-result:hover {
    opacity: 0.7;
}

.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6b5ff8;
    color: #6b5ff8;
    animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6b5ff8;
    color: #6b5ff8;
    animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #6b5ff8;
    color: #6b5ff8;
    animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.5);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes dot-elastic {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.5);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes dot-elastic-after {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.chatbot__close-left-column,
.chatbot__open-left-column {
    display: none;
}

.chatbot__left-column-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: oklab(0 none none / 0.5);
    z-index: 3;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.chatbot__left-column-overlay.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 1199px) {
    .chatbot__bot-message-container {
        gap: var(--conversation-padding);
    }

    .chatbot__left-column {
        width: 250px;
        position: absolute;
        height: 100%;
        background-color: #ffffff;
        padding-left: var(--inner-padding-y);
        padding-top: calc(var(--inner-padding-y) * 3);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
        gap: 1rem;
    }

    .chatbot__new-conversation-button {
        padding-left: var(--conversation-padding);
        padding-right: var(--conversation-padding);
        width: 100%;
    }

    .chatbot__left-column.open {
        transform: translateX(0);
    }

    .chatbot__conversation {
        padding-right: var(--conversation-padding);
    }

    .chatbot__input-container {
        margin-right: var(--conversation-padding);
    }

    .chatbot__close-left-column,
    .chatbot__open-left-column {
        display: block;
        width: 3rem;
        color: #5d5e65;
    }

    .chatbot__close-left-column svg path {
        fill: #5d5e65;
    }

    .chatbot__close-left-column {
        width: 2.5rem;
        position: absolute;
        top: var(--inner-padding-y);
        right: var(--inner-padding-y);
    }

    .chatbot__model-container {
        gap: var(--conversation-gap);
    }
}

@media (max-width: 768px) {
    :root {
        --conversation-font-size: 16px;
    }

    .chatbot__input-container {
        display: none;
    }

    .chatbot__input-container--mobile {
        display: flex;
    }
}
