.training-program__container {
    background: #fff;
    padding: 25px;
    border-radius: 6px;
}

.training-program__title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 5px;
    font-size:30px;
}

.training-program__subtitle {
    text-align: center;
    color: var(--primary-color);
    font-weight: normal;
    margin-top: 0;
    font-size: 18px;
}

.training-program__description {
    margin-top: 20px;
    line-height: 1.6;
    font-size: 15px;
    text-align: justify;
}

.training-program__link a {
    color: var(--primary-color);
    text-decoration: none;
}

.training-program__version-bar {
    margin: 15px 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .training-program__version-bar select {
        height: 23px;
        border-radius: 4px;
        border: 1px solid #cbcbcb;
        font-size:8px;
    }

    .training-program__version-bar span {
        font-size:12px;
    }

    .training-program__version-bar button {
        background: var(--primary-color);
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
        cursor: pointer;
    }

table {
    width: 100%;
    border-collapse: collapse;
} 

th, td {
    border: 1px solid #d0d7e2;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

thead th {
    background: var(--primary-color);
    color: white;
}

td:nth-child(2) {
    text-align: left;
}

.training-program__group td {
    background: #f2faff;
    font-weight: 600;
    text-align: left;
}

.training-program__code {
    color: var(--secondary-color);
    font-weight: 600;
}
