<div class="btn-list d-none">
    <button type="button" class="btn btn-warning me-1 btn-wave" id="solidwarningToastBtn">Warning</button>
    <button type="button" class="btn btn-info me-1 btn-wave" id="solidinfoToastBtn">Info</button>
    <button type="button" class="btn btn-success me-1 btn-wave" id="solidsuccessToastBtn">Success</button>
    <button type="button" class="btn btn-danger me-1 btn-wave" id="soliddangerToastBtn">Danger</button>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="solid-warningToast" class="toast colored-toast bg-warning text-fixed-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-warning text-fixed-white">
            <strong class="me-auto" id="solidwarningToastTitle">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="solidwarningToastContent">
        </div>
    </div>
    <div id="solid-infoToast" class="toast colored-toast bg-info text-fixed-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-info text-fixed-white">
            <strong class="me-auto" id="solidinfoToastTitle">Thông tin</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="solidinfoToastContent">
        </div>
    </div>
    <div id="solid-successToast" class="toast colored-toast bg-success text-fixed-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-success text-fixed-white">
            <strong class="me-auto" id="solidsuccessToastTitle">Thành công</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="solidsuccessToastContent">
        </div>
    </div>
    <div id="solid-dangerToast" class="toast colored-toast bg-danger-uc text-fixed-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-danger-uc text-fixed-white">
            <strong class="me-auto" id="soliddangerToastTitle">Cảnh báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="soliddangerToastContent">
        </div>
    </div>
</div>