@using KMS.Web.ViewModels.Shared.UC
@model UCTableViewModel
<div class="@(Model.is_reponsive ? "table-responsive":"")">
    <table id="@Model.id" class="table table-bordered bordered table-striped table-condensed datatable mb-0">
    </table>
</div>