@using KMS.Web.Common
@using KMS.Web.Core
@using KMS.Web.ViewModels.Shared.Components.Home
@using KMS.Web.Helpers
@using KMS.Web.ViewModels
@model DocumentDetailViewModel
@using KMS.Web.ViewModels.Shared.Components.DocumentDetail

@{
	ViewData["Title"] = "Tra cứu Opac";
	Layout = "~/Pages/Shared/_LayoutPublish.cshtml";
}

@section styles {
	<link rel="stylesheet" href="@ConstLocation.value/public/css/@Manifest.get("document-detail.css.js")" />
}

@await Html.PartialAsync("SearchBar/_SearchBarHeaderWrapper")

<div class="second-content">
	@await Html.PartialAsync("DocumentDetail/_InfoContainer", Model.Document)
	@await Html.PartialAsync("DocumentDetail/_LibraryDocument", Model)
</div>
<div id="scrollToTopBtn" class="scrollToTopBtn">@Html.TopSite(false)</div>

@* @await Html.PartialAsync("FixedCornerButtons/_FixedCornerButtons")
 *@
@section scripts {
	<script src="@ConstLocation.value/public/js/@Manifest.get("document-detail.js")"></script>
}